---
layout: page
title: Tags
permalink: /tags/
---

<style>
a {color: rgb(50,46,46);
  font-weight: lighter;
}
</style>

<div class="tags-expo">

  <div class="tags-expo-list">
    <center><h1 style="color: rgb(255,113,120); font-weight: bold">TAGS</h1></center> <br>
    {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
    {% endfor %}
  </div>

  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.tags %}
    <h3 id="{{ tag[0] | slugify }}" style="font-weight: bold">{{ tag[0] }}</h3>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date" style="color: rgb(200,200,200)">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul><br>
    {% endfor %}
  </div>
</div>
