<header id="header">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="https://soohee410.github.io/" />
	<meta property="og:title" content="Soo.P's Data Story" />
	<meta property="og:description" content="학업과 데이터에 대한 Soo.P의 기록 블로그" />
	<meta property="og:type"  content="website" />
	<meta property="og:image" content="/img/로고.png" />


	<a href="{{ site.url }}">
		<img src="{{ '/img/로고.png' | prepend: site.baseurl | replace: '//', '/' }}"
		alt="Data Story" width="700" title="Soo.P's blog">
	</a>


</header>
