.tags > .tag {
  a {
    color: rgb(50,46,46);
  }
}

.post-tag {
  display: inline-block;
  background: rgba(222,98,92,0.3);
  padding: .1em .2em;
  margin-right: .4rem;
  border-radius: 4px;
  color: rgb(100,100,100);
  font-size: 90%;
  &:hover {
    text-decoration: none;
    background: rgba(222,98,92,0.8);
    color: rgb(255,255,255);
  }
}

.tags-expo {
  :target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
  }
  .tags-expo-list {
    @media (min-width: 38em) {
      font-size: 0.9rem;
      .post-tag {
        margin: .2em .3em;
      }
    }
  }
.tags-expo-section {
    .post-date {
      display: inline-block;
      font-size: 80%;
      color: rgb(0,0,0);
      margin: 0;
      padding: 0;
    }
  }
}
