// *****************
// Color Variables
// *****************
$primary-color: #f65c00;
$secondary-color: #f65c00;
$dark: #0a0a0a;
$gray: #666;
$gray-dark: #999;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;

$code1: #928374;
$code2: #fb4934;
$code3: #8ec07c;
$code4: #fbf1c7;
$code5: #ffd001;
$code6: #fe8019;
